<mat-nav-list>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Inicio
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/genera">
    <mat-icon>fact_check</mat-icon> Generar Factura
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/consulta">
    <mat-icon>document_scanner</mat-icon> Consulta Factura
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/manual">
    <mat-icon>menu_book</mat-icon> Manuales
  </a>
    
</mat-nav-list>
  

