<div class="container">
    <h1>Generar Factura</h1>
    <div>
        <!-- Primer pestaña correspondiente a Fisica/Moral -->
        <mat-tab-group > 
            <mat-tab  label = "Fisica/Moral"> 
                <form [formGroup]="formularioFisicaM" (ngSubmit)="onSubmit()">
                    <div class="topcard">
                        <mat-grid-list cols="12" rowHeight="80px">
                            <mat-grid-tile colspan="3">
                                <mat-form-field class="topheader">
                                <mat-label>Folio o Número de Ticket</mat-label>
                                <input type="text" matInput formControlName="ticketNumber" name="ticketNumber" required>
                                </mat-form-field>
                                <button class="btn_validar" mat-raised-button [color]="'primary'" type="button" (click)="openValidationModal()">Validar</button>
                        
                            </mat-grid-tile>
                            
                            <mat-grid-tile colspan="2" >
                                <mat-form-field class="topheader">
                                    <mat-label>Correo Electrónico</mat-label>
                                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. mau@example.com">
                                    <mat-hint> Introduzca un correo </mat-hint>
                                    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                                    <mat-error>No es válida</mat-error>
                                    }
                                    @if (emailFormControl.hasError('required')) {
                                    <mat-error>El correo electrónico <strong>es requerido!</strong></mat-error>
                                    }
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="7"></mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div class="card" >
                        <div class="card-header">
                            <p class="titleCard">Datos Fiscales</p>
                        </div>
                        <div class="card-body">
                            <div>
                                <mat-grid-list cols="5" rowHeight="80px" >
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>RFC</mat-label>
                                            <input matInput formControlName="rfc" name="rfc" required>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <mat-grid-tile>
                                        <label id="example-radio-group-label">Tipo de Persona</label>
                                        <mat-radio-group aria-label="Tipo de Persona" formControlName="tipoPersona" name="tipoPersona" class="form">
                                            <mat-radio-button *ngFor="let typeperson of typeperson" [value]="typeperson">{{typeperson}}</mat-radio-button>
                                        </mat-radio-group>
                                    </mat-grid-tile>

                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                        <mat-label>Nombre/Razón Social</mat-label>
                                        <input matInput formControlName="razon" name="razon" required>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>Apellido Paterno</mat-label>
                                            <input matInput formControlName="apellidoP" name="apellidoP" required>
                                        </mat-form-field>
                                        </mat-grid-tile>
                                    <mat-grid-tile>

                                        <mat-form-field appearance="fill">
                                            <mat-label>Apellido Materno</mat-label>
                                            <input matInput formControlName="apellidoM" name="apellidoM" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div>
                                <mat-grid-list cols="5" rowHeight="80px" >
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <mat-label>Régimen Fiscal</mat-label>
                                            <mat-select formControlName="regimenFiscal">
                                                <mat-option *ngFor="let regimen of regimenFiscalData" [value]="regimen.cRF_RegimenFiscal">
                                                    {{ regimen.cRF_RegimenFiscal }} - {{ regimen.cRF_Descripcion }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <mat-label>Uso del CFDI</mat-label>
                                            <mat-select formControlName="usoDelCFDI"  name="usoDelCFDI">
                                                <mat-option *ngFor="let uso of usoCFDIData" [value]="uso.cUCFDI_Clave">
                                                    {{ uso.cUCFDI_Clave }} - {{uso.cUCFDI_Descripcion}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile></mat-grid-tile>
                                    <mat-grid-tile></mat-grid-tile>
                                    <mat-grid-tile></mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div>
                                <mat-grid-list cols="4" rowHeight="80px">
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Código Postal</mat-label>
                                            <input matInput formControlName="cp" name="cp" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <!-- <mat-label>Estado</mat-label>
                                            <mat-select formControlName="estado"  name="estado">
                                                <mat-option *ngFor="let edo of EstadosData" [value]="edo.PK_cEDO_Estado_ClaveEntidad01">
                                                    {{ edo.cEDO_NombreEntidad }}
                                                </mat-option>
                                            </mat-select> -->
                                            <mat-label>Estado</mat-label>
                                            <mat-select formControlName="estado"  name="estado">
                                                <mat-option *ngFor="let estado of estadoCP" [value]="estado">
                                                    {{ estado }} 
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <mat-label>Municipio</mat-label>
                                            <mat-select formControlName="municipio" name="municipio">
                                                <mat-option *ngFor="let municipio of EstadosMunicipiosData" [value]="municipio">
                                                     {{ municipio }} 
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Colonia</mat-label>
                                            <input matInput formControlName="colonia" name="colonia" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div>
                                <mat-grid-list cols="4" rowHeight="80px">
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form2">
                                            <mat-label>Calle</mat-label>
                                            <input matInput formControlName="calle" name="calle" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form2">
                                            <mat-label>Número Exterior</mat-label>
                                            <input matInput formControlName="numE" name="numE" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form2">
                                            <mat-label>Número Interior</mat-label>
                                            <input matInput formControlName="numI" name="numI" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile></mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div class="btnGenerar"> 
                                <button mat-raised-button type="button" class="margen">Cancelar</button>
                                <button mat-raised-button type="submit">Generar</button>
                            </div>
                        </div>
                    </div>
                </form>
                    <p class="nota" >Nota: Confirmar que sus datos fiscales esten conforme a su Constancia de Situacion Fiscal.</p>          
            </mat-tab> 


            <!-- Segunda Pestaña -->
            <mat-tab  label = "Extranjero" >
                <form [formGroup]="formularioExtranjero" (ngSubmit)="onSubmit()">
                    <div class="topcard">
                        <mat-grid-list cols="12" rowHeight="80px">
                            <mat-grid-tile colspan="3">
                                <mat-form-field class="topheader">
                                <mat-label>Folio o Número de Ticket</mat-label>
                                <input type="text" matInput formControlName="ticketNumberE" name="ticketNumberE" required>
                                </mat-form-field>
                                <button class="btn_validar" mat-raised-button [color]="'primary'" type="button" (click)="openValidationModalE()">Validar</button>
                            </mat-grid-tile>
                            
                            <mat-grid-tile colspan="2">
                                <mat-form-field class="topheader">
                                    <mat-label>Correo Electrónico</mat-label>
                                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. mau@example.com">
                                    <mat-hint> Introduzca un correo </mat-hint>
                                    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                                    <mat-error>No es válida</mat-error>
                                    }
                                    @if (emailFormControl.hasError('required')) {
                                    <mat-error>El correo electrónico <strong>es requerido!</strong></mat-error>
                                    }
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="7"></mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <p class="titleCard">Datos Fiscales</p>
                        </div>
                        <div class="card-body">
                            <div>
                                <mat-grid-list cols="4" rowHeight="80px" >
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>RFC</mat-label>
                                            <input matInput formControlName="rfcE" name="rfcE" required>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>Nombre(s)</mat-label>
                                            <input matInput formControlName="nombreE" name="nombreE" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <!-- Segunda Pestaña -->
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <mat-label>Régimen Fiscal</mat-label>
                                            <mat-select formControlName="regimenFiscalE"  name="regimenFiscal">
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <mat-label>Uso del CFDI</mat-label>
                                            <mat-select formControlName="usoDelCFDIE"  name="usoDelCFDIE">
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div>
                                <mat-grid-list cols="4" rowHeight="80px" >
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <mat-label>País</mat-label>
                                            <mat-select formControlName="paisE"   name="paisE">
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>ID (Pasaporte)</mat-label>
                                            <input matInput formControlName="pasaporteE" name="pasaporteE" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile></mat-grid-tile>
                                    <mat-grid-tile></mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div class="btnGenerar"> 
                                <button mat-raised-button type="button" class="margen">Cancelar</button>
                                <button mat-raised-button type="button" (click)="submitExtranjero()">Generar</button>
                            </div>
                        </div>
                    </div>
                </form>  
            </mat-tab> 

            <!-- Tercero -->
            <mat-tab  label = "Acreditar Propiedad" >
                <form [formGroup]="formularioAcreditarP" (ngSubmit)="onSubmit()">
                    <div class="topcard">
                        <mat-grid-list cols="12" rowHeight="80px">
                            <mat-grid-tile colspan="3">
                                <mat-form-field class="topheader">
                                <mat-label>Folio o Número de Ticket</mat-label>
                                <input type="text" matInput formControlName="ticketNumberAP" name="ticketNumberAP" required>
                                </mat-form-field>
                                <button class="btn_validar" mat-raised-button [color]="'primary'" type="button" (click)="openValidationModalAP()">Validar</button>
                            </mat-grid-tile>
                            
                            <mat-grid-tile colspan="2">
                                <mat-form-field class="topheader">
                                    <mat-label>Correo Electrónico</mat-label>
                                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. mau@example.com">
                                    <mat-hint> Introduzca un correo </mat-hint>
                                    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                                    <mat-error>No es válida</mat-error>
                                    }
                                    @if (emailFormControl.hasError('required')) {
                                    <mat-error>El correo electrónico <strong>es requerido!</strong></mat-error>
                                    }
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="7"></mat-grid-tile>
                        </mat-grid-list>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <p class="titleCard">Datos Fiscales</p>
                        </div>
                        <div class="card-body">
                            <div>
                                <mat-grid-list cols="4" rowHeight="80px" >
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>RFC</mat-label>
                                            <input matInput formControlName="rfcAP" name="rfcAP" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>Nombre</mat-label>
                                            <input matInput formControlName="nombreAP" name="nombreAP" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <mat-label>Régimen Fiscal</mat-label>
                                            <mat-select formControlName="regimenFiscalAP"  name="regimenFiscalAP">
                                            <mat-option value="option1">Sin Obligaciones Fiscales</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <mat-label>Uso del CFDI</mat-label>
                                            <mat-select formControlName="usoDelCFDIAP"  name="usoDelCFDIAP">
                                            <mat-option value="option1">Sin Efectos Fiscales</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div>
                                <mat-grid-list cols="4" rowHeight="80px">

                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>Código Postal</mat-label>
                                            <input matInput formControlName="codigoPostalAP" name="codigoPostalAP" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <mat-label>Estado</mat-label>
                                            <mat-select formControlName="estadoAP"  name="estadoAP">
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field>
                                            <mat-label>Municipio</mat-label>
                                            <mat-select formControlName="municipioAP"   name="municipioAP">
                                            <mat-option value="option1">Option 1</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>Colonia</mat-label>
                                            <input matInput formControlName="coloniaAP" name="coloniaAP" required>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div>
                                <mat-grid-list cols="4" rowHeight="80px">

                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>Calle</mat-label>
                                            <input matInput formControlName="calleAP" name="calleAP" required>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>Número Exterior</mat-label>
                                            <input matInput formControlName="numEAP" name="numEAP" required>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <mat-grid-tile>
                                        <mat-form-field appearance="fill" class="form">
                                            <mat-label>Número Interior</mat-label>
                                            <input matInput formControlName="numIAP" name="numIAP" required>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <mat-grid-tile></mat-grid-tile>
                                </mat-grid-list>
                            </div>
                            <div class="btnGenerar"> 
                                <button mat-raised-button type="button" class="margen">Cancelar</button>
                                <button mat-raised-button type="button" (click)="submitAcreditarP()">Generar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-tab> 
        </mat-tab-group >
    </div>
</div>